{% extends 'base_navbar.html' %} {% block title %}Login - SwiftSell{% endblock
%} {% block head_extra %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block content %}
<div class="wrapper">
  <form class="form-signin" id="loginForm" method="POST" action="/login">
    <h2 class="form-signin-heading">Log in Here</h2>
    <h3 class="form-signin-subtext">
      Enter your username and password to sign in
    </h3>
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="username"
      required=""
      autofocus=""
    />
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="*********"
      required=""
    />
    <label class="checkbox">
      <input
        type="checkbox"
        value="remember-me"
        id="rememberMe"
        name="rememberMe"
      />
      Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Login
    </button>
    <a class="create-account" href="/signup">Don't have an account? Sign up!</a>
    <br></br>
    <a class="create-account" href="#">Forgot password?</a>
  </form>
</div>

{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
{% endblock %}
