{% extends 'base_navbar.html' %}

{% block title %}Login - SwiftSell{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <form class="form-signin">
           <h2 class="form-signin-heading">Log in Here</h2>
           <h3 class="form-signin-subtext">Enter your SFSU email and password to sign in</h3>
           <input type="text" class="form-control" name="username" placeholder="email@sfsu.edu" required="" autofocus="" />
           <input type="password" class="form-control" name="password" placeholder="*********" required=""/>      
           <label class="checkbox">
           <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
           </label>
           <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button> 
           <a class="create-account" href="/signup">Don't have an account? Sign up!</a>
           <a class="create-account" href="#">Forgot password?</a>

        </form>
     </div>

    <!-- Footer section -->
<footer class="footer">
    <div class="container text-center">
        &copy; 2024 SFSU Software Engineering Class - Team 4. All Rights Reserved.
    </div>
</footer>

{% endblock %}

